* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
}
#wrap {
    width: 980px;
    margin: 0 auto;
    background-color: white;
    min-height: 100%;
    position: relative;
}
#header {
    height: 100px;
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer {
    height: 50px;
    background-color: #ddd;
}
.content {
    padding: 15px;
    padding-bottom: 50px;
}
html,
body {
    height: 100%;
}
